reports:
  "**/multiqc_report.html":
    display: "MultiQC HTML report"
  "**/pipeline_info/report_*.html":
    display: "Nextflow execution report"
  "**/pipeline_info/timeline_*.html":
    display: "Nextflow execution timeline"
  "**/pipeline_info/trace_*.txt":
    display: "Nextflow trace file"
  "**/pipeline_info/dag_*.html":
    display: "Nextflow workflow diagram"
  "**/*.csv":
    display: "CSV outputs"
