/*
 * {{ pipeline_name }} Nextflow config
 */

params {
  input                      = null
  outdir                     = 'results'
  publish_dir_mode           = 'copy'
  email                      = null
  email_on_fail              = null
  plaintext_email            = false
  monochrome_logs            = false
  hook_url                   = null
  help                       = false
  help_full                  = false
  show_hidden                = false
  version                    = false
  config_profile_name        = null
  config_profile_description = null
  custom_config_version      = 'master'
  custom_config_base         = "https://raw.githubusercontent.com/nf-core/configs/${params.custom_config_version}"
  config_profile_contact     = null
  config_profile_url         = null
  validate_params            = true
}

process {
  publishDir = [
    path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_').toLowerCase()}" },
    mode: params.publish_dir_mode,
    saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
  ]
}

includeConfig 'conf/base.config'

profiles {
  local       { process.executor = 'local' }
  conda       { conda.enabled = true; docker.enabled = false }
  mamba       { conda.enabled = true; conda.useMamba = true; docker.enabled = false }
  docker      { docker.enabled = true; docker.runOptions = '-u $(id -u):$(id -g)' }
  singularity { singularity.enabled = true; singularity.autoMounts = true }
  podman      { podman.enabled = true }
  apptainer   { apptainer.enabled = true; apptainer.autoMounts = true }
{%- if use_wave %}
  wave        { wave.enabled = true; wave.freeze = true; wave.strategy = 'conda,container' }
{%- endif %}
  arm         { docker.runOptions = '-u $(id -u):$(id -g) --platform=linux/amd64' }
  test        { includeConfig 'conf/test.config' }
  test_full   { includeConfig 'conf/test_full.config' }
}

includeConfig !System.getenv('NXF_OFFLINE') && params.custom_config_base ?
  "${params.custom_config_base}/nfcore_custom.config" : "/dev/null"

apptainer.registry   = '{{ container_registry }}'
docker.registry      = '{{ container_registry }}'
podman.registry      = '{{ container_registry }}'
singularity.registry = '{{ container_registry }}'

env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}
process.shell = """\
bash
set -euo pipefail
"""

nextflow.enable.strict = true

def trace_timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm-ss')
timeline { enabled = true; file = "${params.outdir}/pipeline_info/timeline_${trace_timestamp}.html" }
report   { enabled = true; file = "${params.outdir}/pipeline_info/report_${trace_timestamp}.html" }
trace    { enabled = true; file = "${params.outdir}/pipeline_info/trace_${trace_timestamp}.txt" }
dag      { enabled = true; file = "${params.outdir}/pipeline_info/dag_${trace_timestamp}.html" }

manifest {
  name            = '{{ pipeline_name }}'
  author          = '{{ author }}'
  homePage        = '{{ repo_url }}'
  description     = '{{ description }}'
  mainScript      = 'main.nf'
  nextflowVersion = '!>={{ min_nextflow_version }}'
  version         = '{{ version }}'
}

plugins { id 'nf-schema@2.1.1' }

validation {
  defaultIgnoreParams = ["genomes"]
  help {
    enabled             = true
    command             = "nextflow run $manifest.name -profile <docker/singularity> --input samplesheet.csv --outdir <OUTDIR>"
    fullParameter       = "help_full"
    showHiddenParameter = "show_hidden"
  }
}

includeConfig 'conf/modules.config'
