manifest {
  name = '{{ github_username }}/{{ repository_name }}'
  description = '{{ project_description }}'
  version = '0.1.0'
  nextflowVersion = '!>=25.00.0'
}

params {
  input = 'data/*.fa'
  outdir = 'results'
}

process {
  cpus = 2
  memory = '4 GB'
  time = '2h'

  withLabel: low {
    cpus = 1
    memory = '2 GB'
    time = '1h'
  }

  withLabel: medium {
    cpus = 4
    memory = '8 GB'
    time = '4h'
  }

  withLabel: high {
    cpus = 8
    memory = '16 GB'
    time = '8h'
  }

  errorStrategy = 'retry'
  maxRetries = 2
  maxErrors = '-1'
}

profiles {
  local {
    process.executor = 'local'
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
    apptainer.enabled = false
    conda.enabled = false
  }

  conda {
    conda.enabled = true
    process.executor = 'local'
  }

  apptainer {
    apptainer.enabled = true
    process.executor = 'local'
  }

  // Extension note: add an AWS Batch profile when moving to cloud execution.
  // awsbatch {
  //   process.executor = 'awsbatch'
  //   aws.region = 'us-east-1'
  //   docker.enabled = true
  //   // For private ECR images, set container URIs like:
  //   // process.container = '123456789012.dkr.ecr.us-east-1.amazonaws.com/your-image:tag'
  // }

  test {
    params.input = 'data/test/*.fa'
    params.outdir = 'results-test'
    process {
      cpus = 1
      memory = '1 GB'
      time = '30m'
    }
  }

  smoke {
    params.input = 'data/smoke/*.fa'
    params.outdir = 'results-smoke'
  }

  debug {
    process.echo = true
  }
}

timeline {
  enabled = true
  file = 'timeline.html'
}

report {
  enabled = true
  file = 'report.html'
}

trace {
  enabled = true
  file = 'trace.txt'
}

dag {
  enabled = true
  file = 'dag.html'
}
