{
  "$schema": "https://json-schema.org/draft-07/schema",
  "$id": "https://raw.githubusercontent.com/{{ org }}/{{ repository_name }}/master/nextflow_schema.json",
  "title": "{{ pipeline_name }} pipeline parameters",
  "description": "{{ description }}",
  "type": "object",
  "definitions": {
    "input_output_options": {
      "title": "Input/output options",
      "type": "object",
      "fa_icon": "fas fa-terminal",
      "required": ["input", "outdir"],
      "properties": {
        "input": {
          "type": "string",
          "format": "file-path",
          "exists": true,
          "mimetype": "text/csv",
          "pattern": "^\\S+\\.csv$",
          "description": "Path to samplesheet CSV.",
          "fa_icon": "fas fa-file-csv"
        },
        "outdir": {
          "type": "string",
          "format": "directory-path",
          "description": "Output directory.",
          "fa_icon": "fas fa-folder-open"
        }
      }
    }
  },
  "allOf": [{ "$ref": "#/definitions/input_output_options" }]
}
