process FASTQC {
  label 'process_single'

  input:
  tuple val(meta), path(fasta)

  output:
  tuple val(meta), path("*_fastqc.zip"), emit: zip
  tuple val(meta), path("*_fastqc.html"), emit: html
  path "versions.yml", emit: versions

  script:
  """
  fastqc \\
    --quiet \\
    --outdir . \\
    ${fasta}

  cat <<-END_VERSIONS > versions.yml
  "${task.process}":
      fastqc: \$(fastqc --version | sed 's/FastQC v//')
  END_VERSIONS
  """
}

process MULTIQC {
  label 'process_single'

  input:
  path fastqc_archives
  path multiqc_config

  output:
  path 'multiqc_report.html', emit: report
  path 'multiqc_data', optional: true, emit: data
  path 'versions.yml', emit: versions

  script:
  """
  multiqc \\
    --force \\
    --filename multiqc_report.html \\
    --config ${multiqc_config} \\
    .

  cat <<-END_VERSIONS > versions.yml
  "${task.process}":
      multiqc: \$(multiqc --version)
  END_VERSIONS
  """
}
