@read_001
ATGCGTACGTTAGCTAGGCTTACGATCGTTAGCTAGCTTGGACCTAGTTCGATCGTAGCTAAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_002
GCTTAGCTAGGCTAACGTTAGCGATCGATGCTAGCTAGCTTGACCTAGGTTACGATCGTACGA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_003
TTGACCGTAGCTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_004
CCGATGCTAGCTTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_005
ATCGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_006
GGTTAACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_007
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_008
AGCTTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_009
CTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_010
AACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_011
GATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_012
TAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_013
CGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_014
CTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_015
TGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAAC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_016
TAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_017
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_018
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_019
ATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_020
CTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_021
GGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_022
TAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_023
ACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_024
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_025
AGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_026
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_027
GCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_028
TTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_029
CTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_030
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_031
AGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_032
TGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_033
AACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_034
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_035
ATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_036
CTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_037
GGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_038
TAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_039
ACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_040
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_041
AGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_042
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_043
GCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_044
TTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_045
CTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_046
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_047
AGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCT
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_048
TGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_049
AACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
@read_050
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII