>read_001
ATGCGTACGTTAGCTAGGCTTACGATCGTTAGCTAGCTTGGACCTAGTTCGATCGTAGCTAAG
>read_002
GCTTAGCTAGGCTAACGTTAGCGATCGATGCTAGCTAGCTTGACCTAGGTTACGATCGTACGA
>read_003
TTGACCGTAGCTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCA
>read_004
CCGATGCTAGCTTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
>read_005
ATCGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
>read_006
GGTTAACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGC
>read_007
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
>read_008
AGCTTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTT
>read_009
CTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAG
>read_010
AACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTA
>read_011
GATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTG
>read_012
TAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTA
>read_013
CGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGC
>read_014
CTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGA
>read_015
TGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAAC
>read_016
TAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAG
>read_017
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
>read_018
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
>read_019
ATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
>read_020
CTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCT
>read_021
GGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATC
>read_022
TAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGC
>read_023
ACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGT
>read_024
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
>read_025
AGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCG
>read_026
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
>read_027
GCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGC
>read_028
TTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAG
>read_029
CTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTA
>read_030
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
>read_031
AGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCT
>read_032
TGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAG
>read_033
AACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
>read_034
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
>read_035
ATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAG
>read_036
CTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCT
>read_037
GGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATC
>read_038
TAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGC
>read_039
ACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGT
>read_040
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
>read_041
AGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCG
>read_042
TACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACG
>read_043
GCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGC
>read_044
TTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAG
>read_045
CTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTA
>read_046
CGTAGCTAACGTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACC
>read_047
AGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCT
>read_048
TGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAG
>read_049
AACGTTAGCTAGCTTGACCTAGGTTACGATCGTAGCTAACGTTAGGCTAGCTTACGATCGATG
>read_050
GTTAGGCTAGCTTACGATCGATGCTAGCTAGGCTAACGTTAGCTAGCTTGACCTAGGTTACGA
