@control_001
GATTACAGATTACAGATTACA
+
IIIIIIIIIIIIIIIIIIIII
@control_002
TTGGAACCTTGGAACCTTGGAA
+
IIIIIIIIIIIIIIIIIIIIII
@control_003
CCGTAACCGTAACCGTAACCGTAA
+
IIIIIIIIIIIIIIIIIIIIIIII
@control_004
ATATATATATATATATATATATATAT
+
IIIIIIIIIIIIIIIIIIIIIIIIII
@control_005
GGGGCCCCAAAATTTTGGGGCCCCAAAA
+
IIIIIIIIIIIIIIIIIIIIIIIIIIII
