{
  "nextflow.typeChecking": true,
  "nextflow.formatting.harshilAlignment": true,
  "files.associations": {
    "*.nf": "nextflow",
    "*.config": "nextflow-config"
  },
  "[nextflow]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "nextflow.nextflow"
  },
  "[nextflow-config]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "nextflow.nextflow"
  },
  "python.analysis.typeCheckingMode": "strict"
}
