{
  "name": "{{ repository_name }}",
  "features": {
    "ghcr.io/devcontainers/features/java:1": {
      "version": "17"
    }
  },
  "customizations": {
    "vscode": {
      "extensions": ["nextflow.nextflow"]
    }
  }
}
