include { FASTQC; MULTIQC } from '../../modules/local/fasta_qc'

workflow PIPELINE_MAIN {
  take:
  input_pattern

  main:
  samples = channel
    .fromPath(input_pattern, checkIfExists: true)
    .splitCsv(header: true)
    .map { row ->
      tuple([id: row.sample], file(row.fasta, checkIfExists: true))
    }

  FASTQC(samples)

  fastqc_archives = FASTQC.out.zip
    .map { _meta, archive -> archive }
    .collect()

  multiqc_config = channel.value(file("$projectDir/assets/multiqc_config.yml", checkIfExists: true))
  MULTIQC(fastqc_archives, multiqc_config)

  emit:
  fastqc = FASTQC.out.zip
  multiqc = MULTIQC.out.report
}
